
<div class="container timer-wrapper">
  <div class="row timer-block">
    <div class="col-sm timer text-center font-weight-bold">
     Count Down Timer:<h1>{{counter}}</h1>
    </div>
    <div class="col-sm timer">
      <div class="form-group">
        <label for="timer">Timer</label>
        <input type="text" [(ngModel)]="timers" #timer class="form-control" id="timer" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Enter time limit</small>
      </div>
      <div class="row btn-wrapper">
        <button (click)="startCounter(timer.value,!toggle)" class="btn btn-primary"><span *ngIf="!toggle else pause">Start</span><ng-template #pause><span>Pause</span></ng-template></button>
        <button (click)="resetCounter(timer.value,!toggle)" class="btn btn-danger">Reset</button>
      </div>
      <div  *ngFor="let item of pauseList" class="alert alert-primary pause-log" role="alert">
        {{item}}
      </div>
    </div>
  </div>
  <div class="row info-wrapper">
      <div class="col-sm">
        <div *ngFor="let item of startPauseList" class="alert alert-secondary" role="alert">
          {{item}}
        </div>
      </div>
      <div class="col-sm">
         <div  class="text-center font-weight-bold"> {{startPauseList.length - pauseList.length }}  Started </div>
         <div class="text-center font-weight-bold"> {{pauseList.length}}  Paused </div>
      </div>
    </div>
</div>
